<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Uygulama hiç bir şekilde kişisel verilerinize erişmeyecektir. Konum bilgisine izin vermeniz yakınınızda bulunan nöbetçi eczaneleri bulmanızı sağlar.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Uygulama hiç bir şekilde kişisel verilerinize erişmeyecektir. Konum bilgisine izin vermeniz yakınınızda bulunan nöbetçi eczaneleri bulmanızı sağlar.</string>
</dict>
</plist>
